<div class="row">
	<div class="col-sm-3">
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(7)">Bangkok</button>
	</div>
	<div class="col-sm-3"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(1)">London</button>
	</div>
	<div class="col-sm-3">
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(2)">Paris</button>
	</div>
	<div class="col-sm-3">
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(4)">Dubai</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 side"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(20)">New York</button>
	</div>

	<div class="col-sm-6"> 
		<div class="croc" style="height: auto;width: 70%" ng-hide="toggle">
			<ds-widget-clock show-digital gmt-offset="gmtValue" theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
			<ds-widget-clock show-analog gmt-offset="gmtValue" theme="obsidian"></ds-widget-clock>
		</div>
	</div>

	<div class="col-sm-3 side"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(8)">Singapore</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-3"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(8)">Kuala Lumpur</button>
	</div>
	<div class="col-sm-3"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(3)">Instanbul</button>
	</div>
	<div class="col-sm-3"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(9)">Tokyo</button>
	</div>
	<div class="col-sm-3"> 
		<button type="button" class="btn btn-default btn-lg" ng-click="timef(9)">Seoul</button>
	</div>
</div>




